.accordion {
  display: flex;
  flex-direction: column;
}

.accordion button {
  border: none;
  background: none;
  transition: 500ms;
}

.question-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: var(--ff-trenda-700);
  font-size: 1.8rem;
}

.accordion--item {
  border-bottom: solid 1px white;
  padding: 2.2rem 1rem;
}

.rotate {
  transform: rotate(45deg);
  transition: 500ms;
}

.accordion--content {
  transition: all 500ms cubic-bezier(0, 1, 0, 1);
  max-height: 0;
  overflow: hidden;
}

.accordion--content.accordion--content__show {
  height: auto;
  max-height: 9999px;
  transition: all 500ms cubic-bezier(1, 0, 1, 0);
}
