.accordion {
  display: flex;
  flex-direction: column;
}

.accordion button {
  border: none;
  background: none;
  transition: 300ms;
  cursor: pointer;
}

.accordion--item {
  border-bottom: solid 1px white;
}

.question-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: var(--ff-trenda-700);
  font-size: 1.8rem;
  padding: 1.8rem 1rem;
  cursor: pointer;
}

.rotate {
  transform: rotate(45deg);
  transition: 500ms;
}

.accordion--content {
  display: none;
}

.accordion--content.accordion--content__show {
  display: block;
  padding: 0 1rem 3rem;
}
