.login-form {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  max-width: 380px;
  width: 100%;
}

.login-form span {
  color: var(--cool-gray-600);
  font-size: 1.4rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.form-selector-wrapper {
  display: flex;
  gap: 1rem;
}

.form-selector-wrapper button {
  white-space: nowrap;
  cursor: pointer;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .login-form {
    padding: 2rem;
  }
}
