section.services h2 {
  font-family: var(--ff-trenda-700);
  color: var(--fc-primary);
  font-size: 2.8rem;
  margin-bottom: 6px;
}

.services .title-wrapper {
  text-align: center;
  color: var(--gray-700);
  font-size: 1.8rem;
}

.services .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.services .card.card-1 {
  background-color: var(--gray-100);
  color: var(--gray-950);
  padding: 4rem 5rem
}

.services .card.card-1 p {
  display: flex;
  flex-direction: column;
  font-size: 3.6rem;
  font-family: var(--ff-trenda);
}

.services .card.card-1 p span {
  font-family: var(--ff-trenda-700);
}

.services .card.card-1 img {
  aspect-ratio: 3/2;
  min-width: 100%;
  height: auto;
  margin-top: 6rem;
  object-fit: contain;
}
