@font-face {
  font-family: "trenda-700";
  src: url("/fonts/subset-FONTSPRINGDEMO-TrendaBoldRegular.woff2")
      format("woff2"),
    url("/fonts/subset-FONTSPRINGDEMO-TrendaBoldRegular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "trenda-400";
  src: url("/fonts/subset-FONTSPRINGDEMO-TrendaRegular.woff2") format("woff2"),
    url("/fonts/subset-FONTSPRINGDEMO-TrendaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "trenda-600";
  src: url("/fonts/subset-FONTSPRINGDEMO-TrendaSemiboldRegular.woff2")
      format("woff2"),
    url("/fonts/subset-FONTSPRINGDEMO-TrendaSemiboldRegular.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gray-100: #e3e6ea;
  --gray-200: #cad1d7;
  --gray-300: #a5b0bb;
  --gray-500: #5e6d7c;
  --gray-600: #4d697c;
  --gray-700: #454d59;
  --gray-900: #373b42;
  --gray-950: #212930;

  --cool-gray-50: #f6f8f9;
  --cool-gray-100: #ebeff3;
  --cool-gray-200: #dbe0e9;
  --cool-gray-300: #aec0cb;
  --cool-gray-400: #9ca3af;
  --cool-gray-500: #628295;
  --cool-gray-600: #5f6d72;

  --blue-400: #3a65ff;
  --blue-500: #00bed2;
  --blue-600: #039db7;
  --blue-700: #0a7d94;
  --blue-800: #126478;

  --green-700: #00a8b5;
  --green-900: #007380;

  --bd-color-invalid-input: #cc3262;
  --bg-color-invalid-input: #ffeff0;

  --ff-trenda: "trenda-400", sans-serif;
  --ff-trenda-600: "trenda-600", sans-serif;
  --ff-trenda-700: "trenda-700", sans-serif;
  --fc-primary: var(--gray-900);
  --fc-secondary: var(--gray-950);
  --fc-tertiary: var(--gray-600);
  --fc-quaternary: var(--gray-500);
  --fc-quinary: white;

  --bg-primary: white;
  --bg-secondary: var(--gray-100);

  font-size: 62.5%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: var(--ff-trenda);
  font-size: 1.6rem;
  background-color: var(--bg-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.container {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

section {
  padding: 6rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section .section-title {
  text-align: center;
}

section .section-title h2 {
  font-family: var(--ff-trenda-700);
  color: var(--fc-primary);
  font-size: 2.8rem;
  margin-bottom: 6px;
}

section .section-title p {
  text-align: center;
  color: var(--gray-700);
  font-size: 1.8rem;
  font-family: var(--ff-trenda);
}

.logo-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.6rem;
}

.logo-wrapper span {
  font-family: var(--ff-trenda-700);
  font-size: 1rem;
  color: var(--green-700);
  text-transform: uppercase;
}

.card {
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  font-family: var(--ff-trenda-700);
  overflow: hidden;
}

@media (min-width: 1024px) {
  .container {
    padding-right: 18rem;
    padding-left: 18rem;
  }

  section {
    gap: 4rem;
  }

  section .section-title h2 {
    font-size: 4rem;
  }

  section .section-title p {
    font-size: 2.2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-right: 24rem;
    padding-left: 24rem;
  }
}
